
.main {
    margin: 30px;
}

.btn-publish {
    float: right;
}

.community-menu {
    color: #999;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    float: left;
    margin-top: 20px;
}

.media-body {
    margin-left: 20px;
}

.menu-icon {
    color: #4e555b;
    margin-right: 20px;
    cursor: pointer;
}
.menu-icon .active {
    color: #005cbf;
}

.menu-icon .icon:hover {
    color: steelblue;
}

.sub-comment {
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 10px;
    padding-top: 10px;
}
.sub-comment-textarea {
    margin: 10px;
}

.community-media {
    padding-bottom: 5px;
}

.community-img {
    width: 50px;
    height: 50px;
}

.tags {
    margin-right: 10px;
}

.tags-dashboard {
    margin-top: 25px;
}
