
.main {
    margin-top: 30px;
    width: 80%;
    background: whitesmoke;
    min-height: 1000px;
}

.btn-publish {
    float: right;
}

.community-menu {
    color: #999;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    float: left;
    margin-top: 20px;
}

.media-body {
    margin-left: 20px;
}

.menu-icon {
    color: #4e555b;
    margin-right: 20px;
    cursor: pointer;
}
.menu-icon .active {
    color: #005cbf;
}

.menu-icon .icon:hover {
    color: steelblue;
}

.sub-comment {
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 10px;
    padding-top: 10px;
}
.sub-comment-textarea {
    margin: 10px;
}

.community-media {
    padding-bottom: 5px;
}

.community-img {
    width: 50px;
    height: 50px;
}

.tags {
    margin-right: 10px;
}

.tags-dashboard {
    margin-top: 25px;
}

.community-photo {
    position: absolute;
    left: 20%;
    right: 20%;
}

.community-icon {
    transition: 0.2s ease;
    color: #898d92;
}

.community-pagination {
    margin-top:10px;
    float: right;
}

.community-cross {
    float: right;
    margin-right: 20%;
}

.community-card {
    margin-bottom: 5%;
}

.community-cardBody {
    padding-top: 5px;
    padding-bottom: 0px;
}

.community-footer {
    padding: 10px 25%;
}

.community-foot-text-align {
    text-align: center;
}

.body{
    background-image: url('/img/deer.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.community-container {
    margin: auto;
    padding-top: 20px;
    padding-left: revert;
}
