<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Owl Community</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tags">Tags</a>
                </li>
                <li class="nav-item active" th:if="${session.user!=null}">
                    <a class="nav-link" href="/publish">Publish <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${session.user==null}">
                    <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="login">Login</a>
                        <div class="dropdown-menu" aria-labelledby="login">
                            <div style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Special Notice</h5>
                                    <p class="card-text">Currently, we only support login with the Github</p>
                                    <a href="/login/oauth" class="btn btn-primary">Login With Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${session.user!=null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile/articles">Profile</a>
                        <a class="dropdown-item" href="#">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
                <li class="nav-item active" th:if="${session.user!=null}"><a class="nav-link" href="/profile/comments">Unread <span class="badge badge-light" th:text="${session.unreadCount}">9</span></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
</body>